<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brads Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h1><a href="/dashboard">Dashboard</a></h1>
    </header>
    <footer>
        <a href="/dashboard/new"></a>
    </footer>
</body>